body{
    padding: 0;
    margin: 0;

}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
div{
    animation: fade 2s;
    animation-duration: 2s;
    animation-fill-mode: backwards;

    align-content: center;
    text-align: center;  
    align-content: center;
    text-align: center;
    
}
body{
    color:white;
    background-image:url(https://i.imgur.com/I1zT9jy.jpg);
    background-repeat:initial;
    background-size: auto;
}